<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
    <!-- 게시글 전체조회-->
    <select id="searchAll" resultMap="boardMap">
        SELECT * FROM board;
    </select>

    <!--  Board 명칭끼리 매칭해줌  -->
    <resultMap id="boardMap" type="board">
        <id property="boardNo" column="BOARD_NO"/>
        <result property="cateNo" column="CATE_NO"/>
        <result property="writer" column="WRITER"/>
        <result property="boardPw" column="BOARD_PW"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="createDay" column="CREATEDAY"/>
        <result property="updateDay" column="UPDATEDAY"/>
        <result property="boardCount" column="BOARD_COUNT"/>

        <collection property="file" ofType="boardFile">
            <id property="fileNo" column="FILE_NO"/>
            <result property="oriName" column="ORI_NAME"/>
            <result property="newName" column="NEW_NAME"/>
        </collection>
    </resultMap>

    <!-- 페이지 처리를 위한 게시글 수-->
    <select id="selectBoardCount" resultType="_int">
        SELECT COUNT(*) FROM board;
    </select>

    <!--전체 카테고리 목록을 가져옴-->
    <select id="categoryAll" resultMap="categoryMap">
        SELECT * FROM category;
    </select>
    <!--  카테고리 매칭해줌  -->
    <resultMap id="categoryMap" type="category">
        <id property="cateNo" column="CATE_NO"/>
        <result property="cateName" column="CATE_NAME"/>
    </resultMap>

    <!-- 게시글 입력   -->
    <insert id="insertBoard" parameterType="board">
        INSERT INTO board VALUES(NULL,#{cateNo},#{writer},#{boardPw},#{title},#{content},DEFAULT,NULL,DEFAULT);
        <selectKey keyProperty="boardNo" resultType="_int" order="AFTER">
            SELECT MAX(board_no) FROM  board;
        </selectKey>
    </insert>

    <!--  게시글 상세보기  -->
    <select id="viewDetail" resultMap="boardMap">
        SELECT * FROM board WHERE board_no=#{boardNo}
    </select>

    <!--  조회수 증가  -->
    <update id="updateReadCount" parameterType="_int">
        UPDATE board SET board_count=board_count+1 WHERE board_no=#{boardNo}
    </update>

    <!--  게시글 삭제  -->
    <delete id="deleteBoard" parameterType="_int">
        DELETE FROM board WHERE board_no=#{boardNo}
    </delete>

    <!--  게시글 수정  -->
    <update id="updateBoard" parameterType="board">
        UPDATE BOARD SET writer=#{writer},board_pw=#{boardPw},title=#{title},content=#{content},updateday=NOW() WHERE board_no=#{boardNo}
    </update>

    <!--  게시글 검색  -->
    <select id="searchBoard" resultMap="boardMap">
        SELECT * FROM board where CATE_NO=#{cateNo} AND CREATEDAY >= #{beforeDate} AND title '%'||#{search}||'%'
    </select>

<!--    <select id="searchItemSort" resultMap="sellitemMap">-->
<!--        SELECT * FROM SELLITEM WHERE 1=1-->
<!--        <if test="itemct != null and itemct != ''">-->
<!--            AND ITEM_CATEGORY LIKE '%'||#{itemct}||'%'-->
<!--        </if>-->
<!--        <if test="(max!=null and max != 0) or (min != 0 and min !=null)">-->
<!--            AND ITEM_PRICE >= #{min} AND ITEM_PRICE &lt;= #{max}-->
<!--        </if>-->
<!--        <if test="itemsort !='' and itemsort!=null">-->
<!--            <if test="itemsort eq '고액순'">-->
<!--                ORDER BY ITEM_PRICE DESC-->
<!--            </if>-->
<!--            <if test="itemsort eq '저가순'">-->
<!--                ORDER BY ITEM_PRICE-->
<!--            </if>-->
<!--            <if test="itemsort eq '인기상품순'">-->
<!--                ORDER BY ITEM_STOCK DESC-->
<!--            </if>-->
<!--        </if>-->
<!--    </select>-->





<!--   댓글    -->
    <!--  댓글조회  -->
    <select id="listComment" resultMap="commentMap">
        SELECT * FROM boardcomment
    </select>
    
    <resultMap id="commentMap" type="comment">
        <id property="commentNo" column="COMMENT_NO"/>
        <result property="boardNo" column="BOARD_NO"/>
        <result property="commentDate" column="COMMENT_DATE"/>
        <result property="content" column="CONTENT"/>
    </resultMap>

    <insert id="inertBoardComment" parameterType="comment">
        INSERT INTO boardcomment VALUES(NULL,#{boardNo},DEFAULT,#{content});
    </insert>

</mapper>